*.vvp
*.vcd
testbench_verilator
testbench_verilator_dir/
synth.log
synth.v
downloads/
vivado*
oss-cad-suite
__pycache__/
results.xml
sim_build/
xrun*
irun*

# vcs
simv.daidir/ 
ucli.key 
csrc/ 
ucli.key
simv
DVEfiles/
